body{
    margin:0px;
    border:0px;
    padding:0px;
    background-color:#212327;
}

.title
{
color:wheat;
text-align:center;
font-family:verdana;
}

@media only screen and (max-width: 980px) {
    .title {
        margin-right:1%;
        font-size:1.2rem;
    }
}

@media only screen and (min-width: 980px) {
    .title {
        margin-right:1%;
        font-size:1.2rem;
    }
}


.intro{
    color:Azure;
    font-size:1.3rem;
    font-style:italic;
    font-family:verdana;
}

@media only screen and (max-width: 980px) {
    .intro{
        margin-top:30%;
    }
}

@media only screen and (min-width: 980px) {
    .intro{
        margin-top:5%;
    }
}

.introbox{
    text-align:center
}

@media only screen and (max-width: 980px) {
    .introbox{
        margin-top:20%;
    }
}

@media only screen and (min-width: 980px) {
    .introbox{
        margin-top:13%;
    }
}

.top{
}

@media only screen and (max-width: 980px) {
    .top {
        margin-left:3%;
        margin-top:5%;
    }
}

@media only screen and (min-width: 980px) {
    .top {
        margin-left:5%;
        margin-top:2%;
    }
}

.bottom{
    clear:both;
    color:mediumaquamarine;
    font-size:0.8rem;
    font-family:verdana;
    text-align:center;
    color:mediumaquamarine;
}

@media only screen and (max-width: 980px) {
    .bottom {
    margin-top:40%;
	margin-bottom:2%;
    }
}

@media only screen and (min-width: 980px) {
    .bottom {
    margin-top:18%;
	margin-bottom:1%;
    }
}

.page{
    color:ivory;
    text-decoration:none;
}

@media only screen and (max-width: 980px) {
    .page{
        margin-top:8%;
    }
}

@media only screen and (min-width: 980px) {
    .page{
        margin-top:4%;
    }
}

.pagebox{
    text-align:center;
}

@media only screen and (max-width: 980px) {
    .pagebox{
        margin-top:10%;
    }
}

@media only screen and (min-width: 980px) {
    .pagebox{
        margin-top:5%;
    }
}

.line{
    color:grey
}

.para{
    color:ghostWhite;
    font-family:verdana;
    font-size:1.0rem;
    text-indent:2.0rem;
    margin-bottom:0;
    margin-top:0;
    line-height:1.5rem;
}

@media only screen and (max-width: 980px) {
    .para{
        margin-top:15%;
        margin-left:5%;
		margin-right:5%;
    }
}
@media only screen and (min-width: 980px) {
    .para{
        margin-top:10%;
        margin-left:20%;
		margin-right:20%;
    }
}
